<% students.sample(42).each do |student| %>
  <div class="col col-12 col-md-6 col-lg-4">
    <%= render 'shared/student_card', student: student %>
  </div>
<% end %>
<%= render 'shared/modal', modal_name: "cardModalStudentShow" %>
