
<div class="container">

<h1>Build your team</h1>

  <div class="row">

  <% @students.each do |student| %>
    <div class="col-sm-4">
      <div class="card-product position-relative">
        <a href="#" class="product-link">
          <%= image_tag student.picture_url, alt: "", class: "rounded"%>
          <div class="card-product-infos">
            <h2><%= student.name %></h2>
            <p class="text-secondary"><%= student.description %></p>
          </div>
        </a>
      </div>
    </div>
  <% end %>
  </div>

</div>

<%= render 'shared/footer' %>
